form {
    background-color: #eeeeee;
    padding: 20px;
}

input[type=text] {
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-size: 18px;
    padding-right: 20px;
    text-transform: uppercase;
}

textarea {
    display: block;
    height: 100px;
    margin-top: 20px;
    width: 392px;
}

button {
    width: 400px;
}